body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

h2, h3 {
    font-family: 'Merriweather', serif;
}

.contenedor {
    background-image: url(../img/bosque.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #f4f4f4;
    min-height: 100vh;
}

.acercaDeNosotros i {
    font-size: 1rem;
    margin-right: 10px;
    text-align: center;
    color: #a38524;
}

.acercaDeNosotros {
    padding: 50px 20px;
    color: #597927;
    text-align: center;
}

.acercaDeNosotros h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.introduccion {
    font-size: 1rem;
    max-width: 800px;
    margin: 0 auto 50px auto;
    line-height: 1.6;
    font-style: italic;
    color: #727171;
}

.secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(235, 229, 182, 0.7);
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    animation: fadeIn 0.8s ease-in;
}

.seccion:hover {
    transform: translateY(-10px);
}

.info {
    text-align: justify;
    margin-bottom: 20px;
}

.info h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #a38859; 
}

.info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #554e4e;
    line-height: 1.5;
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 250px;
}

.creadores h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    color: #645c4e; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Georgia', serif;
    background-color: rgba(235, 229, 182, 0.7);
    border-radius: 10px;
}

.personas {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.persona {
    background-color: rgba(235, 229, 182, 0.7);
    border-radius: 10px;
    width: calc(33% - 20px); 
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: transform 0.3s;
}

.persona:hover {
    transform: translateY(-10px);
}

.persona .imgPersona img {
    width: 100%; 
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.infoPersona {
    text-align: justify;
    margin-top: 15px;
    font-size: 15px;
}

.infoPersona h4 {
    font-size: 1.2rem;
    color: #819e6d;
}

.infoPersona p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(78, 78, 78);
    line-height: 1.5;
}

.redes h4 {
    margin-bottom: 8px;
}

.redes ul {
    font-size: 13px;
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.redes ul a{
    font-size: 13px;
    list-style-type: none;
    color: rgb(70, 70, 70);
    text-decoration: none;
    
}

.redes ul a:hover{
    color: #42643f;
    font-size: 14px;
    font-weight: bold;
}

.redes ul:visited {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.redes img {
    margin-right: 10px;
}

.Proyectos h4 {
    margin-bottom: 8px;
}

.Proyectos ul{
    font-size: 13px;
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.Proyectos ul a:hover{
    color: #42643f;
    font-size: 14px;
    font-weight: bold;
}

.Proyectos ul:visited {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.Proyectos img {
    margin-right: 10px;
}

footer{
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(45, 74, 34, 0.6);
    color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.infoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logoFooter, .infoDerecha {
    flex: 1;
    margin: 20px;
}

.fotoFooter {
    width: 150px;
    margin-bottom: 20px;
    background-color: #f4e7d1;
    padding: 10px;
    border-radius: 10px;
}

footer p {
    font-size: 14px;
    margin: 10px;
    color: #d1d1d1;
}

footer h2 {
    font-size: 24px;
    color: #f4e7d1;
    margin-bottom: 10px;
}

footer a {
    color: #f4e7d1;
    text-decoration: none;
}

footer .redesSociales {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer .icono {
    margin: 0 10px;
}

footer .icono img {
    width: 25px;
    height: 25px;
    border-radius: 10px;

}

footer .icono:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.infoFooter i{
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

