body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #58855b;
}

p, button {
    color: #777373;
}

.contenedor {
    background-image: url(../img/bosque.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #f4f4f4;
    min-height: 100vh;
}

.container {
    display: flex;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    background: none;
}

.libros {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.libro {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(214, 203, 160, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.libro:hover {
    transform: scale(1.05);
}

.descuento {
    position: absolute;
    top: 10px;
    right: 5px;
    background: rgb(218, 69, 69);
    color: #fff;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    display: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* animation: pulso 1s infinite; */
    transition: background-color 0.3s;
}

.imgLibros {
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.infoTitulo {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4c8353;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    transition: none; 
}

.libro:hover .infoTitulo {
    animation: escribir 2s steps(20) forwards;
}

.libro:hover .descuento {
    animation: pulso 1s infinite;
    display: block;
}

.infoPrecio {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #c42b5e; 
    margin: 10px 0; 
}

.infoAutor {
    font-size: 1rem;
    font-weight: normal;
    color: #333; 
    margin: 5px 0;
}

.infoEditorial {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic; 
    color: #555; 
    margin: 5px 0;
}

.infoCategoria {
    font-size: 0.9rem; 
    color: #777; 
    margin: 5px 0;
    display: flex; 
    align-items: center; 
}

.infoCategoria .iconoCategoria {
    font-size: 1.2rem;
    margin-right: 5px;
    color: #4CAF50; 
}

.descripcion {
    color: #383838;
    text-align: justify;
}

a.carrito-link {
    background: linear-gradient(
        45deg,
        rgb(16, 87, 41) 0%,
        rgb(18, 192, 96) 100%
    );
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

a.carrito-link:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
}

.chat {
    top: 120px;
    position: sticky;
    bottom: 10px;
    right: 0;
    width: 300px;
    max-height: 400px;
    background-color: rgba(214, 203, 160, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.headerChat {
    background-color: rgb(0, 83, 25);
    color: white;
    padding: 10px, 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.headerChat h3 {
    font-size: 1rem;
    flex-grow: 1;
    text-align: center;
}

.imgChatbot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.btnX {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btnX:hover {
    transform: scale(1.2);
}

.contenidoChat {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenidoChat h4 {
    color: #4c8353;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
    margin-top: 10px;
}

.enviar {
    background-color: rgb(0, 83, 25);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.enviar:hover {
    background-color: rgb(34, 139, 34);
    transform: scale(1.05);
}


footer{
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(45, 74, 34, 0.6);
    color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.infoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logoFooter, .infoDerecha {
    flex: 1;
    margin: 20px;
}

.fotoFooter {
    width: 150px;
    margin-bottom: 20px;
    background-color: #f4e7d1;
    padding: 10px;
    border-radius: 10px;
}

footer p {
    font-size: 14px;
    margin: 10px;
    color: #d1d1d1;
}

footer h2 {
    font-size: 24px;
    color: #f4e7d1;
    margin-bottom: 10px;
}

footer a {
    color: #f4e7d1;
    text-decoration: none;
}

footer .redesSociales {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer .icono {
    margin: 0 10px;
}

footer .icono img {
    width: 25px;
    height: 25px;
    border-radius: 10px;

}

footer .icono:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@keyframes escribir {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes pulso {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}