body{
    background-image: url(../img/bosque.jpg);
    color: #fff;
    min-height: 100vh;
    line-height: 1.8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}